.site_footer{
  display: flex;
  width: 100%;
  min-height: 130px;
  background-color: rgba(0,0,0,.8);
  color: white;
  font-family: 'Open Sans Regular', sans-serif;
  z-index: 1;
  li{
    list-style: none;
  }
  .main_container{
    margin: 0 auto;
    @extend .flex-between;
    min-height: 100%;
    flex: 1 0 auto;
    padding: 15px 40px 30px;
  }
  .links_wrapp{
    @extend .flex-between;
    flex-direction: column;
    align-items: flex-start;

  }
  .footer-link{
    margin-right: 20px;
    color: white;
  }
  .footer-left-block{
    @extend .flex-center;
  }
  .info{
    color: white;
    cursor: pointer;
    &:hover{
      color: red;
    }
  }
  .btn-user-footer{
    background: url("../images/sprite.png") no-repeat -218px -19px;
    width:25px;
    display: block;
    height: 25px;
    &:hover {
      background: url("../images/sprite.png") no-repeat -258px -19px;
    }
  }

  .btn-google-play{
    background: url("../images/sprite.png") no-repeat -568px -20px;
    color: #fff;
    :hover {
      background: url("../images/sprite.png") no-repeat -568px -90px;
    }
  }

  .btn-app-store{
    background: url("../images/sprite.png") no-repeat -748px -20px;
    color: #fff;
    &:hover {
      background: url("../images/sprite.png") no-repeat -748px -90px;
    }
  }

.footer-right-block{
  @extend .flex-center;
}
  .btn_wrapp{
    margin: 0 10px;
  }
  .btn-footer-social {
    height: 50px;
    display: block;
    width:160px;
    float: left;
    position: relative;
  }
  .btn-google-play{
    background: url("../images/sprite.png") no-repeat -568px -20px;
    color: #fff;
  }
  .btn-google-play:hover {
    background: url("../images/sprite.png") no-repeat -568px -90px;
  }

  .btn-app-store{
    background: url("../images/sprite.png") no-repeat -748px -20px;
    color: #fff;
  }
  .btn-app-store:hover {
    background: url("../images/sprite.png") no-repeat -748px -90px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* STYLES IE10 */
  .site_footer{
    justify-content: center;
    height: 130px;
  }
}

@media screen and (max-width: 1024px){
  .site_footer{
    font-size: 12px;
    min-height: 95px;
    .main_container{
      padding: 15px 0;
    }
  }
}

@media screen and (max-width: 768px){
  .site_footer{
    .main_container{
      flex-direction: column;
    }
    .links_wrapp{
      order: 1;
      align-items: center;
      margin-top: 20px;
    }
    .copyright{
      margin-top: 15px;
    }
    .btn-footer-social{
      width: 125px;
      height: 40px;
      background: center center no-repeat;
      background-size: contain;
      position: relative;

      &:hover:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.4);
        pointer-events: none;
      }
    }
    .btn-google-play{
      background-image: url("../images/google-play.png");
    }
    .btn-app-store{
      background-image: url("../images/app-store.png");
    }
    .btn-google-play{
      &:hover{
        background: center center no-repeat;
        background-size: cover;
        background-image: url("../images/google-play.png");
      }
    }
    .btn-app-store{
      &:hover{
        background: center center no-repeat;
        background-size: cover;
        background-image: url("../images/app-store.png");
      }
    }
  }
}

@media screen and (max-width: 1024px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* STYLES IE10 */
  .site_footer{
    height: 145px;
  }
}