    <!--<div class="main_container">-->
        <!--<div class="collection-container">-->
            <!--<div class="header">-->
                <!--Lee Cooper Slim Fit Women's Jeans Lee Cooper Slim-->
            <!--</div>-->
            <!--<div class="photo cloth-1"></div>-->
            <!--<div class="text">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
                <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip-->
                <!--ex ea commodo.-->
            <!--</div>-->
            <!--<div class="price">-->
                <!--<div class="price-title">-->
                    <!--House of Frasier-->
                <!--</div>-->
                <!--<div class="price-value">-->
                    <!--<span>$ <span>145</span><sup class="sup">99</sup></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="actions">-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="collection-container">-->
            <!--<div class="header">-->
                <!--Lee Cooper Slim Fit Women's Jeans Lee Cooper Slim-->
            <!--</div>-->
            <!--<div class="photo cloth-2"></div>-->
            <!--<div class="text">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
                <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip-->
                <!--ex ea commodo.-->
            <!--</div>-->
            <!--<div class="price">-->
                <!--<div class="price-title">-->
                    <!--House of Frasier-->
                <!--</div>-->
                <!--<div class="price-value">-->
                    <!--<span>$ <span>145</span><sup class="sup">99</sup></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="actions">-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="collection-container">-->
            <!--<div class="header">-->
                <!--Lee Cooper Slim Fit Women's Jeans Lee Cooper Slim-->
            <!--</div>-->
            <!--<div class="photo cloth-3"></div>-->
            <!--<div class="text">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
                <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip-->
                <!--ex ea commodo.-->
            <!--</div>-->
            <!--<div class="price">-->
                <!--<div class="price-title">-->
                    <!--House of Frasier-->
                <!--</div>-->
                <!--<div class="price-value">-->
                    <!--<span>$ <span>145</span><sup class="sup">99</sup></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="actions">-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>-->
                <!--<div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--for mobile views slider-->

    <!--<div class="mobile_slider_container" run-horizontal-sliders="{-->
            <!--horizontal: '1',-->
            <!--itemNav: 'forceCentered',-->
            <!--smart: '1',-->
            <!--activateMiddle: true,-->
            <!--mouseDragging: '1',-->
            <!--touchDragging: '1',-->
            <!--releaseSwing: '1',-->
            <!--startAt: '1',-->
            <!--scrollBy: '1',-->
            <!--activatePageOn: 'click',-->
            <!--speed: '300',-->
            <!--elasticBounds: '1',-->
            <!--easing: 'easeOutExpo',-->
            <!--dragHandle: '1',-->
            <!--dynamicHandle: '1',-->
            <!--clickBar: '1'}">-->
        <!--<div class="mobile_slider_body">-->
            <!--<div class="collection-container">-->
                <!--<div class="header">-->
                    <!--Lee Cooper Slim Fit Women's Jeans Lee Cooper Slim-->
                <!--</div>-->
                <!--<div class="photo cloth-1"></div>-->
                <!--<div class="text">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
                    <!--labore et-->
                    <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi-->
                    <!--ut aliquip-->
                    <!--ex ea commodo.-->
                <!--</div>-->
                <!--<div class="price">-->
                    <!--<div class="price-title">-->
                        <!--House of Frasier-->
                    <!--</div>-->
                    <!--<div class="price-value">-->
                        <!--<span>$ <span>145</span><sup class="sup">99</sup></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="actions">-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="collection-container">-->
                <!--<div class="header">-->
                    <!--Lee Cooper Slim Fit Women's Jeans Lee Cooper Slim-->
                <!--</div>-->
                <!--<div class="photo cloth-2"></div>-->
                <!--<div class="text">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
                    <!--labore et-->
                    <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi-->
                    <!--ut aliquip-->
                    <!--ex ea commodo.-->
                <!--</div>-->
                <!--<div class="price">-->
                    <!--<div class="price-title">-->
                        <!--House of Frasier-->
                    <!--</div>-->
                    <!--<div class="price-value">-->
                        <!--<span>$ <span>145</span><sup class="sup">99</sup></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="actions">-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="collection-container">-->
                <!--<div class="header">-->
                    <!--Lee Cooper Slim Fit Women's Jeans Lee Cooper Slim-->
                <!--</div>-->
                <!--<div class="photo cloth-3"></div>-->
                <!--<div class="text">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
                    <!--labore et-->
                    <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi-->
                    <!--ut aliquip-->
                    <!--ex ea commodo.-->
                <!--</div>-->
                <!--<div class="price">-->
                    <!--<div class="price-title">-->
                        <!--House of Frasier-->
                    <!--</div>-->
                    <!--<div class="price-value">-->
                        <!--<span>$ <span>145</span><sup class="sup">99</sup></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="actions">-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>-->
                    <!--<div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<div class="main_container">
    <div class="slider_container"  slick-slider="$ctrl.sliderSettings" >

            <div class="collection-container">
                <div class="header" ng-bind="$ctrl.leftClothData.productDescription.name"></div>
                <div class="photo cloth-1"  ng-style="{'background-image':'url(' + $ctrl.leftClothData.image + ')'}"></div>
                <div class="text" ng-bind="$ctrl.leftClothData.productDescription.description"></div>
                <div class="price">
                    <div class="price-title" ng-bind="$ctrl.leftClothData.productPrice.shop_name"></div>
                    <div class="price-value">
                        <span>$ <span>{{$ctrl.leftClothData.productPrice.price.split('.')[0]}}</span><sup class="sup">{{$ctrl.leftClothData.productPrice.price.split('.')[1]}}</sup></span>
                    </div>
                </div>
                <div class="actions">
                    <div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>
                    <div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>
                    <div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>
                </div>
            </div>

            <div class="collection-container">
                <div class="header"  ng-bind="$ctrl.middleClothData.productDescription.name"></div>
                <div class="photo cloth-2" ng-style="{'background-image':'url(' + $ctrl.middleClothData.image + ')'}"></div>
                <div class="text" ng-bind="$ctrl.middleClothData.productDescription.description"></div>
                <div class="price">
                    <div class="price-title" ng-bind="$ctrl.middleClothData.productPrice.shop_name"></div>
                    <div class="price-value">
                        <span>$ <span>{{$ctrl.middleClothData.productPrice.price.split('.')[0]}}</span><sup class="sup">{{$ctrl.middleClothData.productPrice.price.split('.')[1]}}</sup></span>
                    </div>
                </div>
                <div class="actions">
                    <div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>
                    <div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>
                    <div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>
                </div>
            </div>

            <div class="collection-container">
                <div class="header" ng-bind="$ctrl.rightClothData.productDescription.name"></div>
                <div class="photo cloth-3" ng-style="{'background-image':'url(' + $ctrl.rightClothData.image + ')'}"></div>
                <div class="text" ng-bind="$ctrl.rightClothData.productDescription.description"></div>
                <div class="price">
                    <div class="price-title" ng-bind="$ctrl.rightClothData.productPrice.shop_name"></div>
                    <div class="price-value">
                        <span>$ <span>{{$ctrl.rightClothData.productPrice.price.split('.')[0]}}</span><sup class="sup">{{$ctrl.rightClothData.productPrice.price.split('.')[1]}}</sup></span>
                    </div>
                </div>
                <div class="actions">
                    <div class="bottom_icons"><a href="#" class="btn-action-like"></a></div>
                    <div class="bottom_icons"><a href="#" class="btn-action-shop"></a></div>
                    <div class="bottom_icons"><a href="#" class="btn-action-basket"></a></div>
                </div>
            </div>

    </div>
</div>


