    <div class="main_container">
        <div class="links_wrapp">
            <ul class="footer-left-block">
                <li class="footer-link"><span class="btn-user-footer info" ng-click="$ctrl.showUserDetailsModal()"></span></li>
                <li class="footer-link"><span class="info"  ng-click="$ctrl.showInfoModal(true)">About</span></li>
                <li class="footer-link"><span class="info" ng-click="$ctrl.showInfoModal(false)">Help</span>
                </li>
            </ul>
            <p class="copyright">Copyright &copy; 2014 - 2017 Shake A Look</p>
        </div>
        <ul class="footer-right-block">
            <li class="btn_wrapp"><a href="#" class="btn-footer-social btn-google-play"></a></li>
            <li class="btn_wrapp"><a href="#" class="btn-footer-social btn-app-store"></a></li>
        </ul>
    </div>
