<div class="main_container">
    <div class="sliders_containers">
        <p class="header">New & recommended</p>
        <div class="body">
            <div class="collection-slider"
                 run-horizontal-sliders="{
                 horizontal: '1',
                  itemNav: 'basic',
                   smart: '1',
                    mouseDragging: '1',
                 touchDragging: '1',
                 releaseSwing: '1',
                 startAt: '0',
                 scrollBar: '1',
                  scrollBy: 1,
                speed: '300',
                elasticBounds: '1',
                dragHandle: '1',
                dynamicHandle: '1',
                clickBar: '1'}">
                <ul class="collection-slider-items ">
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="sliders_containers">
        <p class="header">Trending</p>
        <div class="body">
            <div class="collection-slider "
                 run-horizontal-sliders="{
                 horizontal: '1',
                 itemNav: 'basic',
                 smart: '1',
                 mouseDragging: '1',
                 touchDragging: '1',
                 releaseSwing: '1',
                 startAt: '0',
                 scrollBar: '1',
                  scrollBy: 1,
                speed: '300',
                elasticBounds: '1',
                dragHandle: '1',
                dynamicHandle: '1',
                clickBar: '1'}">
                <ul class="collection-slider-items ">
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sliders_containers">
        <p class="header">My collections</p>
        <div class="body">
            <div class="collection-slider "
                 run-horizontal-sliders="{
                 horizontal: '1',
                 itemNav: 'basic',
                 smart: '1',
                 mouseDragging: '1',
                 touchDragging: '1',
                 releaseSwing: '1',
                 startAt: '0',
                 scrollBar: '1',
                  scrollBy: 1,
                speed: '300',
                elasticBounds: '1',
                dragHandle: '1',
                dynamicHandle: '1',
                clickBar: '1'}">
                <ul class="collection-slider-items ">
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collection-slider-item">
                            <a href="#">
                                <div class="photo">
                                    <div class="item-name">
                                        <span class="tem-name-label"> Winter collection Interest Name</span>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="modeler-photo">
                                        <img src="images/modeler_sample.jpg">
                                    </div>
                                    <div class="modeler-name">
                                        <span>Denise Washington</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
    </div>

</div>
